body {
    margin: 0;
    background: url("Wallpaper.png");   
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

/* Navbar style */
header {
    background: #50c888;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
}

header:after{
    content: '';
    display: table;
    clear: both;
}

/* Logo style and position*/
.logo {
    float: left;
    height: 75px;
    padding-left: 50px;
}

/* Navbar text position */
nav {
    float: right;
}

/* Navbar indv. text position */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 125px;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

/* Navbar text style */
nav a {
color: #404040;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
background: linear-gradient(to right, #50c888 50%, #6fedaa 50%);
background-size: 200% 100%;
background-position: left bottom;
}

/* Navbar text selection on hover */
nav a:hover {
    color: #000;
    font-weight: 600;
    border-radius: 3px;
    background-position: right bottom;
    transition: background-position 1s;
}